doctype
html(lang='en')
    head
        meta(charset='utf-8')
        link(rel='stylesheet', href="../css/style.css")
        title
    body
        #content 
            #header
                a.button(href="#popup") Open pop-up button! 
                .popup#popup 
                    .popup-inner Pop-up!
                        a.closepopup(href="#") X
            #block1
                .post#num1 1
                .post#num2 2
                .post#num3 3
                .post#num4 4
                .post#num5 5
            #block2
                .container
                .container
                .container
                .container
            #footer
        