* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
}
#content {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    min-height: 1000px;
    padding: 0px 15px;
    background-color: #C0DBD9;
}
#header {
    display: flex;
    align-items: center;
    padding: 30.5px 30px;
    background-color: #7FAFF7;
    padding: 0px 15px;
    min-height: 100px;
    width: 100%;
    margin-bottom: 15px;
}
.button {
    padding: 8px 15px;
    min-height: 39px;
    background-color: #A5C7F9;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    line-height: 23px;
} 
.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    overflow: hiden;
    transition: .64s ease-in-out;
}
.popup-inner {
    position: relative;
    bottom: -100vw;
    right: -100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    font-size: 53px;
    line-height: 62px;
    color: #000000;
    background-color: #fff;
    transform: rotate(32deg);
    transition: .64s ease-in-out;
}
.popup:target {
    visibility: visible;
    opacity: 1;
}
.popup:target .popup-inner {
    bottom: 0;
    right: 0;
    transform: rotate(0);
}
.closepopup {
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 8px 15px;
    width: 43px;
    height: 39px;
    background-color: #7FAFF6;
    border-radius: 5px;
    z-index: 4;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    line-height: 23px;
    text-decoration: none;
}
#block1 {
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
    min-height: 411px;
    width: 100%;
    background-color: #B3F95A;
    margin-bottom: 15px;
}
.post {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 53px;
    line-height: 62px;
    color: #FFFFFF;
    height: 198px;
    background: #8AD191;
}
#num1 {
    width: 390px;
    margin-right: 15px;
    margin-bottom: 15px;
}
#num2 {
    width: 590px;
    margin-right: 15px;
}
#num3 {
    width: 160px;
}
#num4 {
    width: 995px;
    margin-right: 15px;
}
#num5 {
    width: 160px;
}
#block2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
    width: 100%;
    min-height: 259px;
    background-color: #88B5BF;
    margin-bottom: 100px;
}
.container {
    max-width: 255px;
    width: 100%;
    height: 199px;
    margin-right: 30px;
    background-color: #0D89B0;
}
.container:last-of-type {
    margin-right: 0px;
}
#footer {
    min-height: 100px;
    padding: 0px 15px;
    width: 100%;
    background-color: #7FAFF7;
}
@media screen and (max-width: 1185px) {
    body {
        max-width: 1200px;
        align-items: flex-start;
    }
    #num2, #num4 {
        margin-right: 0px;
    }
    #num3, #num4 {
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 1025px) {
    #num2 {
        margin-right: 15px;
    }
}
@media screen and (max-width: 795px) {
    #num2 {
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 700px) {
    #num2, #num1 {
        margin-right: 0px;
    }
}